<div class="wrapper">
  <div class="header">
    <div class="in-header">
      <div><i class="uil uil-video"></i></div>
      <div class="title">Reconociendo rostro <b>Angular 17 2024</b></div>
    </div>
    <div>
      <a href="https://github.com/JoSeMa270596" target="_blank">
        <i class="uil uil-github"></i>
      </a>
    </div>
  </div>
  <div class="block-main">
    <div class="cam">
      <app-video-player [stream]="currentStream"></app-video-player>
    </div>
    <div class="sidebar">
      <div class="zone-body">
        <div class="block">block 2</div>
        <div class="block">block 2</div>
      </div>
      <div class="zone-btn">
        <ul class="list-btn">
          @for (btn of [1,1,1]; track $index) {
            <li><i class="uil uil-eye"></i></li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
